footer.footer.bg-white {
  background: none !important;
  background-color: var(--ar-primary) !important;
  overflow: hidden;
  padding: 5rem !important;
}

footer.footer {
  border-top: none !important;
  padding-bottom: 0 !important;
}
footer.footer nav.nav {
  justify-content: center;
}

footer * {
  color: #ffffff !important;
}
