/* Reset some default styles for consistency */
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&family=Tajawal:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal" !important;
}

.container {
  font-family: "Tajawal" !important;
  font-size: medium !important;
  font-weight: 400 !important;
}

.remove-right-left-padding {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.tajawal {
  font-family: "Tajawal" !important;
}

/* Basic styling for the body */
body {
  font-family: "Tajawal";
  font-size: medium;
  font-weight: 400;
  /* Add this line to remove the body margin */
}

.btn-1 {
  border: 1px solid #0a2237;
  padding: 0;
  margin: 0;
}

.dark-blue {
  background-color: #0a2237;
  color: white;
}

.btn-1:active {
  box-shadow: none;
  color: white;
}

.btn-2 {
  background-color: #0a2237;
  border: none;
  padding: 0;
  margin: 0;
}

.btn-2:hover {
  box-shadow: none;
}

.btn-2:active {
  box-shadow: none;
}

#start-icon {
  margin: 0;
  padding: 0;
  /* generate color from here https://isotropic.co/tool/hex-color-to-css-filter/ */
  filter: invert(100%) sepia(71%) saturate(2%) hue-rotate(28deg)
    brightness(112%) contrast(101%);
}

/* Header styling */
header {
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header-stuff {
  padding: 1rem;
}

.header-imgs {
  width: 10rem;
}

.icon-imgs {
  margin: 2rem;
  padding: 1.2rem 1.5rem;
  color: white;
  fill: white;
  border-radius: 50%;
  background-color: #0a2237;
  max-width: 50%;
  max-height: 50%;
  /* This creates a square based on the width */
  object-fit: contain;
  display: inline-block;
}

/* Container for the main content */

.content > img {
  max-width: 50%;
  max-height: 50%;
}

/* Styling for the main content area */
.content {
  /* background-color: #fff; */
  text-align: center;
  padding: 1rem;
  margin: 2rem;
  align-content: center;
  align-items: center;
  color: #0a2237;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .content {
    padding: 10px;
  }
}

.text-largest {
  font-size: 3rem;
}

.text-larger {
  font-size: 2rem;
}

.text-large {
  font-size: 1.5rem;
}

.text-normal {
  font-size: 1rem;
}

.text-bold {
  font-weight: 900;
}

.text-semibold {
  font-weight: 500;
}

#bold {
  font-weight: 900;
}

.text-blue {
  color: #4493d0;
}

.text-white {
  color: #fff;
}

.text-grey {
  color: #7b8994;
}

.align-right {
  text-align: right;
}

.uni-logo {
  border: 2px solid #5ac3b5;
  border-radius: 20%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.custom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5rem;
}

/* Basic styles for the dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Tajawal";
  text-align: start;
}

/* Style the button that triggers the dropdown */
.dropdown button {
  background-color: #e0f4f2;
  color: #0a182f;
  border: none;
  border-radius: 1rem;
  width: 60rem;
  padding: 1rem;
  text-align: center;
  /* margin: 0.5rem 1rem; */
  cursor: pointer;
  text-align: start;
  font-family: "Tajawal";
}

/* Style the dropdown content */
.dropdown .dropdown-content {
  display: none;
  position: sticky;
  background-color: #e0f4f2;
  right: 0;
  z-index: 1;
  /* Position the dropdown below the button */
  border-radius: 1rem;
  top: 100%;
  width: 60rem;
}

@media (max-width: 1000px) {
  .dropdown button {
    width: 40rem;
  }

  .dropdown .dropdown-content {
    width: 40rem;
  }

  .dropdown .dropdown-content div {
    border-radius: 1rem;
  }

  .dropdown:hover {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .dropdown button {
    width: 30rem;
  }

  .dropdown .dropdown-content {
    width: 30rem;
  }

  .dropdown .dropdown-content div {
    border-radius: 1rem;
  }

  .dropdown:hover {
    margin-bottom: 1rem;
  }
}

/* Style the dropdown items */
.dropdown .dropdown-content div {
  padding: 10px;
  border-radius: 1rem;
  text-align: center;
}

/* Show the dropdown content when the button is hovered */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover {
  margin-bottom: 5rem;
}

label {
  display: block;
  font-weight: bold;
  margin-top: 20px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.tab {
  /* display: inline-block; */
  margin-right: 4em;
}

footer.footer.bg-white {
  background: none !important;
  background-color: #0a2237 !important;
  /* top | right | bottom | left */
  padding: 5rem !important;
}
